html
	head
		link(href='/css/main.css', rel='stylesheet', type='text/css')
	body
		block content
		script(src="https://cdn.socket.io/socket.io-1.2.0.js", type="text/javascript")
		script(src="/js/build.js", type="text/javascript")
		script(src='https://code.jquery.com/jquery-1.11.1.js')
		script.
			$(function () {
			var socket = io();
			$('form').submit(function(){
			socket.emit('chat message', $('#m').val());
			$('#m').val('');
			return false;
			});
			socket.on('chat message', function(msg){
			$('#messages').append($('<li>').text(msg));
			window.scrollTo(0, document.body.scrollHeight);
			});
			});
