// .dark-primary-color      { background: #333; }
// .darker-primary-color    { background: #222; }
// .default-primary-color   { background: #03A9F4; }
// .light-primary-color     { background: #B3E5FC; }
// .text-primary-color      { color: #FFFFFF; }
// .accent-color            { background: #222; }
// .primary-text-color      { color: #212121; }
// .secondary-text-color    { color: #757575; }
// .divider-color           { border-color: #eaeaea; }
body {
	background-color: #fafafa;
	color: #666;
	font-family: 'Roboto', sans-serif;
}

header {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	padding: .5em 1em;
	border-bottom: .1em solid #eaeaea;
}

header+* {
	margin-top: 5em;
}

h1 {
	color: #333;
	font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
	margin: .2em 0;
}

img {
	width: 100%;
}

section.card {
	padding: 1.5em;
	background-color: #ffffff;
	border-radius: .2em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	margin-bottom: 2em;
}

section.card--title {
	margin-bottom: 1em;
}

section.card>h1 {
	padding-bottom: .5em;
	margin-bottom: .5em;
	border-bottom: 1px solid #eaeaea;
}

button {
	display: block;
	width: 100%;
	border: none;
	cursor: pointer;
	padding: 1em .5em;
	transition: .2s ease-in-out;
}

.btn--primary {
	background-color: #333;
	color: #ffffff;
}

.btn--primary:hover, .btn--primary:focus {
	background-color: #222;
}

a {
	text-decoration: none;
	border-bottom: .1em solid #eaeaea;
	color: #222;
	cursor: pointer;
}

ul {
	padding-left: 0;
	list-style: none;
}

li {
	float: left;
	width: calc(50% - 1.6em);
	cursor: pointer;
	color: #222;
	background-color: #fff;
	text-align: center;
	margin: .2em;
	padding: .5em;
	border: .1em solid #eaeaea;
	transition: all .3s ease-in-out;
}

li:hover, li:active {
	background-color: #eaeaea;
}

.text-center {
	text-align: center;
}