extends ../layout.pug

block content
	.container
		.row
			.col-md-6.col-md-offset-3
				section.card
					h1 No Connection To Instagram
					p We seem to be unable to connect to Instagram. Unfortunatly this app only works with a connection to Instagram.
					p We're working on re-establishing a connection to Instagram. In the meantime you could go to #[a(href="https://www.instagram.com/explore/tags/fallback/" target="_blank") https://www.instagram.com/explore/tags/fallback/ ] to search for a tag.
